In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
code_summer_df = pd.read_csv("https://raw.githubusercontent.com/HDSC-21/olympic-game/main/sources/summer.csv", error_bad_lines=False)
code_winter_df = pd.read_csv("https://raw.githubusercontent.com/HDSC-21/olympic-game/main/sources/winter.csv", error_bad_lines=False)
code_dictionary_df = pd.read_csv("https://raw.githubusercontent.com/HDSC-21/olympic-game/main/sources/dictionary.csv", error_bad_lines=False)

In [3]:
code_summer_df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [4]:
code_winter_df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

In [5]:
#Merging data sets **** checkingfor best merging method
winter_df = pd.merge(code_winter_df,code_dictionary_df, left_on='Country', right_on='Code')
winter_df

,Year,City,Sport,Discipline,Athlete,Country_x,Gender,Event,Medal,Country_y,Code,Population,GDP per Capita
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze,France,FRA,66808385.0,36205.568102
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze,France,FRA,66808385.0,36205.568102
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze,France,FRA,66808385.0,36205.568102
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze,France,FRA,66808385.0,36205.568102
4,1924,Chamonix,Curling,Curling,"ALDEERT, H.",FRA,Men,Curling,Bronze,France,FRA,66808385.0,36205.568102
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4821,2006,Turin,Skiing,Snowboard,"ZIDEK, Radoslav",SVK,Men,Snowboard Cross,Silver,Slovakia,SVK,5424050.0,16088.277587
4822,2010,Vancouver,Biathlon,Biathlon,"KUZMINA, Anastazia",SVK,Women,10KM Pursuit,Silver,Slovakia,SVK,5424050.0,16088.277587
4823,2010,Vancouver,Biathlon,Biathlon,"HURAJT, Pavol",SVK,Men,15KM Mass Start,Bronze,Slovakia,SVK,5424050.0,16088.277587
4824,2010,Vancouver,Biathlon,Biathlon,"KUZMINA, Anastazia",SVK,Women,7.5KM,Gold,Slovakia,SVK,5424050.0,16088.277587
4825,2014,Sochi,Biathlon,Biathlon,"KUZMINA, Anastazia",SVK,Women,7.5KM,Gold,Slovakia,SVK,5424050.0,16088.277587

In [6]:

column = {
   'Country': 'Code',
}
code_winter_df=code_winter_df.rename(columns = column)
code_summer_df=code_summer_df.rename(columns = column)

In [7]:
code_dictionary_df.head()

           Country Code  Population  GDP per Capita
0      Afghanistan  AFG  32526562.0      594.323081
1          Albania  ALB   2889167.0     3945.217582
2          Algeria  ALG  39666519.0     4206.031232
3  American Samoa*  ASA     55538.0             NaN
4          Andorra  AND     70473.0             NaN

In [8]:
#merge for the winter
winter_df = pd.merge(code_winter_df,code_dictionary_df, on='Code')
winter_df

,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal,Country,Population,GDP per Capita
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze,France,66808385.0,36205.568102
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze,France,66808385.0,36205.568102
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze,France,66808385.0,36205.568102
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze,France,66808385.0,36205.568102
4,1924,Chamonix,Curling,Curling,"ALDEERT, H.",FRA,Men,Curling,Bronze,France,66808385.0,36205.568102
...,...,...,...,...,...,...,...,...,...,...,...,...
4821,2006,Turin,Skiing,Snowboard,"ZIDEK, Radoslav",SVK,Men,Snowboard Cross,Silver,Slovakia,5424050.0,16088.277587
4822,2010,Vancouver,Biathlon,Biathlon,"KUZMINA, Anastazia",SVK,Women,10KM Pursuit,Silver,Slovakia,5424050.0,16088.277587
4823,2010,Vancouver,Biathlon,Biathlon,"HURAJT, Pavol",SVK,Men,15KM Mass Start,Bronze,Slovakia,5424050.0,16088.277587
4824,2010,Vancouver,Biathlon,Biathlon,"KUZMINA, Anastazia",SVK,Women,7.5KM,Gold,Slovakia,5424050.0,16088.277587
4825,2014,Sochi,Biathlon,Biathlon,"KUZMINA, Anastazia",SVK,Women,7.5KM,Gold,Slovakia,5424050.0,16088.277587

In [9]:
#merge summer data sets
summer_df = pd.merge(code_summer_df,code_dictionary_df, on='Code')
summer_df

,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal,Country,Population,GDP per Capita
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Hungary,9844686.0,12363.543460
1,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200M Freestyle,Gold,Hungary,9844686.0,12363.543460
2,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100M,Bronze,Hungary,9844686.0,12363.543460
3,1896,Athens,Athletics,Athletics,"DANI, Nandor",HUN,Men,800M,Silver,Hungary,9844686.0,12363.543460
4,1896,Athens,Athletics,Athletics,"KELLNER, Gyula",HUN,Men,Marathon,Bronze,Hungary,9844686.0,12363.543460
...,...,...,...,...,...,...,...,...,...,...,...,...
25737,2012,London,Athletics,Athletics,"BARRONDO, Erick",GUA,Men,20KM Walk,Silver,Guatemala,16342897.0,3903.478856
25738,2012,London,Athletics,Athletics,"JAMES, Kirani",GRN,Men,400M,Gold,Grenada,106825.0,9212.020352
25739,2012,London,Athletics,Athletics,"AMOS, Nijel",BOT,Men,800M,Silver,Botswana,2262485.0,6360.138220
25740,2012,London,Sailing,Sailing,"KONTIDES, Pavlos",CYP,Men,Laser,Silver,Cyprus,1165300.0,23242.840069
25741,2012,London,Taekwondo,Taekwondo,"OBAME, Anthony",GAB,Men,+ 80 KG,Silver,Gabon,1725292.0,8266.445605

In [10]:
#concatination of both data sets
olympic_df = pd.concat([summer_df,winter_df],keys=['summer','winter'])
olympic_df

             Year       City      Sport Discipline             Athlete Code  \
summer 0     1896     Athens   Aquatics   Swimming       HAJOS, Alfred  HUN
       1     1896     Athens   Aquatics   Swimming       HAJOS, Alfred  HUN
       2     1896     Athens  Athletics  Athletics    SZOKOLYI, Alajos  HUN
       3     1896     Athens  Athletics  Athletics        DANI, Nandor  HUN
       4     1896     Athens  Athletics  Athletics      KELLNER, Gyula  HUN
...           ...        ...        ...        ...                 ...  ...
winter 4821  2006      Turin     Skiing  Snowboard     ZIDEK, Radoslav  SVK
       4822  2010  Vancouver   Biathlon   Biathlon  KUZMINA, Anastazia  SVK
       4823  2010  Vancouver   Biathlon   Biathlon       HURAJT, Pavol  SVK
       4824  2010  Vancouver   Biathlon   Biathlon  KUZMINA, Anastazia  SVK
       4825  2014      Sochi   Biathlon   Biathlon  KUZMINA, Anastazia  SVK

            Gender            Event   Medal   Country  Population  \
summer 0       Men   100M Freestyle    Gold   Hungary   9844686.0
       1       Men  1200M Freestyle    Gold   Hungary   9844686.0
       2       Men             100M  Bronze   Hungary   9844686.0
       3       Men             800M  Silver   Hungary   9844686.0
       4       Men         Marathon  Bronze   Hungary   9844686.0
...            ...              ...     ...       ...         ...
winter 4821    Men  Snowboard Cross  Silver  Slovakia   5424050.0
       4822  Women     10KM Pursuit  Silver  Slovakia   5424050.0
       4823    Men  15KM Mass Start  Bronze  Slovakia   5424050.0
       4824  Women            7.5KM    Gold  Slovakia   5424050.0
       4825  Women            7.5KM    Gold  Slovakia   5424050.0

             GDP per Capita
summer 0       12363.543460
       1       12363.543460
       2       12363.543460
       3       12363.543460
       4       12363.543460
...                     ...
winter 4821    16088.277587
       4822    16088.277587
       4823    16088.277587
       4824    16088.277587
       4825    16088.277587

[30568 rows x 12 columns]

In [11]:
olympic_df.shape

(30568, 12)

In [12]:
olympic_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 30568 entries, ('summer', 0) to ('winter', 4825)
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            30568 non-null  int64
 1   City            30568 non-null  object
 2   Sport           30568 non-null  object
 3   Discipline      30568 non-null  object
 4   Athlete         30568 non-null  object
 5   Code            30568 non-null  object
 6   Gender          30568 non-null  object
 7   Event           30568 non-null  object
 8   Medal           30568 non-null  object
 9   Country         30568 non-null  object
 10  Population      30522 non-null  float64
 11  GDP per Capita  29957 non-null  float64
dtypes: float64(2), int64(1), object(9)
memory usage: 4.1+ MB

In [13]:
#percentage of missing value
olympic_df.isna().mean() *100

Year              0.000000
City              0.000000
Sport             0.000000
Discipline        0.000000
Athlete           0.000000
Code              0.000000
Gender            0.000000
Event             0.000000
Medal             0.000000
Country           0.000000
Population        0.150484
GDP per Capita    1.998822
dtype: float64

In [14]:
olympic_df.describe()

               Year    Population  GDP per Capita
count  30568.000000  3.052200e+04    29957.000000
mean    1972.659840  1.405382e+08    38265.138203
std       34.882327  2.580405e+08    19641.054876
min     1896.000000  3.753100e+04      277.068309
25%     1948.000000  1.055122e+07    25831.582305
50%     1984.000000  6.080208e+07    42311.036231
75%     2002.000000  1.440968e+08    56115.718426
max     2014.000000  1.371220e+09   101449.968168

In [15]:
olympic_df.dtypes

Year                int64
City               object
Sport              object
Discipline         object
Athlete            object
Code               object
Gender             object
Event              object
Medal              object
Country            object
Population        float64
GDP per Capita    float64
dtype: object

In [16]:
#with small percentage of missing value (2%),rows with missing values are dropped
olympic_df = olympic_df.dropna()
olympic_df

             Year       City      Sport Discipline             Athlete Code  \
summer 0     1896     Athens   Aquatics   Swimming       HAJOS, Alfred  HUN
       1     1896     Athens   Aquatics   Swimming       HAJOS, Alfred  HUN
       2     1896     Athens  Athletics  Athletics    SZOKOLYI, Alajos  HUN
       3     1896     Athens  Athletics  Athletics        DANI, Nandor  HUN
       4     1896     Athens  Athletics  Athletics      KELLNER, Gyula  HUN
...           ...        ...        ...        ...                 ...  ...
winter 4821  2006      Turin     Skiing  Snowboard     ZIDEK, Radoslav  SVK
       4822  2010  Vancouver   Biathlon   Biathlon  KUZMINA, Anastazia  SVK
       4823  2010  Vancouver   Biathlon   Biathlon       HURAJT, Pavol  SVK
       4824  2010  Vancouver   Biathlon   Biathlon  KUZMINA, Anastazia  SVK
       4825  2014      Sochi   Biathlon   Biathlon  KUZMINA, Anastazia  SVK

            Gender            Event   Medal   Country  Population  \
summer 0       Men   100M Freestyle    Gold   Hungary   9844686.0
       1       Men  1200M Freestyle    Gold   Hungary   9844686.0
       2       Men             100M  Bronze   Hungary   9844686.0
       3       Men             800M  Silver   Hungary   9844686.0
       4       Men         Marathon  Bronze   Hungary   9844686.0
...            ...              ...     ...       ...         ...
winter 4821    Men  Snowboard Cross  Silver  Slovakia   5424050.0
       4822  Women     10KM Pursuit  Silver  Slovakia   5424050.0
       4823    Men  15KM Mass Start  Bronze  Slovakia   5424050.0
       4824  Women            7.5KM    Gold  Slovakia   5424050.0
       4825  Women            7.5KM    Gold  Slovakia   5424050.0

             GDP per Capita
summer 0       12363.543460
       1       12363.543460
       2       12363.543460
       3       12363.543460
       4       12363.543460
...                     ...
winter 4821    16088.277587
       4822    16088.277587
       4823    16088.277587
       4824    16088.277587
       4825    16088.277587

[29957 rows x 12 columns]

In [21]:
olympic_df.isna().mean()

Year              0.0
City              0.0
Sport             0.0
Discipline        0.0
Athlete           0.0
Code              0.0
Gender            0.0
Event             0.0
Medal             0.0
Country           0.0
Population        0.0
GDP per Capita    0.0
dtype: float64